<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav *ngIf="showSidebar" mode="side" opened class="sidenav">
  <div class="sidebar-content">
    <div class="app-name">
      <span>Dhriti</span>
    </div>

    <div class="sidebar-buttons">
      <a mat-button matTooltip="Dashboard" (click)="goToDashboard()">
        <div class="nav-avatar">
          <i class="ph ph-flower-lotus"></i>
          <span>Dashboard</span>
        </div>
      </a>
      <a mat-button matTooltip="Analytics" (click)="goToAnalytics()">
        <div class="nav-avatar">
          <i class="ph ph-chart-line-up"></i>
          <span>Analytics</span>
        </div>
      </a>
      <a mat-button matTooltip="Login" (click)="logout()">
        <div class="nav-avatar">
          <i class="ph ph-sign-out"></i>
          <span>Logout</span>
        </div>
      </a>
    </div>
  </div>
  <div class="sparkle"></div>
</mat-sidenav>


  <!-- Main content -->
  <mat-sidenav-content class="main-content">
  <div class="content-wrapper">
    <router-outlet></router-outlet>
  </div>
  <div class="tagline-footer">
    <p>"Even in the shadows, a lotus blooms, Unseen but unbroken, shining true." - Dhriti</p>
  </div>
</mat-sidenav-content>

</mat-sidenav-container>
