.analytics-card {
  padding: 24px;
  margin: 10px;
  border-radius: 16px;
  background: #fdfdff;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.full-width {
  width: 100%;
}

.spaced-element {
  margin-bottom: 10px;
}

.streak-info {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 18px;
}

.month-navigation {
  display: flex;
  align-items: center;
  gap: 12px;
  font-weight: bold;
}

.chart-container {
  height: 350px;
  padding: 8px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: inset 0 0 0 1px #e0e0e0;
}


//summary
.motivation-card {
  background: #fce3e4;
  padding: 18px;
  border-radius: 12px;
  font-style: italic;
  font-weight: 500;
  box-shadow: inset 0 0 0 1px #e0e0e0;
  font-size: large;
  margin: 16px;
}

.summary-title {
  font-weight: 600;
  font-size: larger;
  margin: 0px;
}

.summary{
  margin: 0px;
}

.no-data-msg {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
}

