<div class="login-wrapper">
  <div class="app-name">Dhriti</div>
  <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
    <div class="login-title">Login</div>
    <input type="text" formControlName="username" placeholder="Email" class="login-input" />
    <div *ngIf="loginForm.get('username')?.touched && loginForm.get('username')?.hasError('required')" class="error-text">
      Username is required
    </div>

    <input type="password" formControlName="password" placeholder="Password" class="login-input" />
    <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')" class="error-text">
      Password is required
    </div>

    <button type="submit" [disabled]="loginForm.invalid" class="login-btn">Login</button>
  </form>

  <div *ngIf="errorMessage" class="form-error">
    {{ errorMessage }}
  </div>

  <div class="register-container">
    <button (click)="goToRegister()" class="register-btn">Don't have an account? Register</button>
  </div>
</div>
